
<div class="demo-description">Table</div>
<smart-table #table id="table" [editing]="TableConfig.editing" [editMode]="TableConfig.editMode" [sortMode]="TableConfig.sortmode" >
    <table>
        <thead>
            <tr>
                <th scope="col" *ngFor="let col of columnList">{{col.header}}</th>
                
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of TableData">
                <td>{{ row.country }}</td>
                <td>{{ row.area }}</td>
                <td>{{ row.populationRural}}</td>
                <td>{{ row.populationTotal }}</td>
                <td>{{ row.gdpTotal }}</td>
            </tr>            
        </tbody>
    </table>
</smart-table>